# Cloudinary Config (Client-side)
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_UPLOAD_PRESET=

# AI Tokens (Server-side only)
HF_TOKEN=
GEMINI_API_KEY=

# Supabase (Client-side)
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Redis (BullMQ)
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=

# Firebase Admin
FIREBASE_SERVICE_ACCOUNT=
